<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"  xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
                http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
                http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
                http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd"
        default-autowire="byName">
    <context:component-scan base-package="cakewebsite" />
    <context:annotation-config />
    <context:property-placeholder location="classpath*:filter-dev.properties" />

    <import resource="classpath*:spring-data.xml" />
    <import resource="classpath*:spring-mvc-front.xml" />

    <!--biz-->
    <bean id="productManager" class="cakewebsite.manager.ProductManager" />
    <bean id="bywhoManager" class="cakewebsite.manager.ByWhoManager" />
    <bean id="locationManager" class="cakewebsite.manager.LocationManager" />
    <bean id="typeManager" class="cakewebsite.manager.TypeManager" />
    <bean id="holidayManager" class="cakewebsite.manager.HolidayManager" />
    <bean id="cartManager" class="cakewebsite.manager.CartManager" />
</beans>