<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cakewebsite.dao.mapper.HolidayMapper">
    <resultMap id="allColumnsResult" type="cakewebsite.common.dataobject.Holiday">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="gmtcreate" property="gmtcreate" javaType="java.util.Date"></result>
    </resultMap>

    <sql id="allColum">
        id,NAME,gmtcreate
    </sql>

    <select id="list" resultMap="allColumnsResult">
        SELECT * FROM holiday;
    </select>

    <select id="getById" parameterType="Long" resultMap="allColumnsResult">
        SELECT * FROM holiday
        WHERE id = #{id}
    </select>

    <update id="update">
        UPDATE holiday
        SET NAME = #{name}
        WHERE id = #{id}
    </update>
    
    <delete id="deleteById" parameterType="Long">
        DELETE FROM holiday where id = #{id}
    </delete>

    <insert id="insert">
        INSERT INTO holiday (<include refid="allColum" />)
        VALUES (#{id},#{name},now())
    </insert>
</mapper>